 /* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
} */
 
 
 
 #colour {

            background-color: rgb(167, 233, 235);
        }

        
        .heading {
            justify-content: center;
            display: flex;
            color: rgb(77, 63, 46);
            
        }

        .image {

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 120px;
            flex-wrap: wrap;
            padding: 50px;
            max-width: 1200px;
            cursor: pointer;
            

        }


        .image-2 {

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 120px;
            flex-wrap: wrap;
            padding: 50px;
            max-width: 1200px;
            cursor: pointer;
         
        }